:root {
  --white: #fff;
  --translucent-white: #d7ccc0;
  --light: #f5f4f0;
  --basic: #fe8a02;
  --basic-dark: #42413c;
  --dark: #2a2626;
  --translucent-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;

  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  font-weight: 400;
  color: var(--dark);
}

main {
  margin: 0;
  padding: 0;
}

.bg-translucent-dark {
  background-color: var(--light);
}

.bg-white {
  background-color: var(--white);
}

.bg-basic-dark {
  background: var(--basic-dark);
}

.bg-brown {
  background: var(--brown);
}

.c-white {
  color: var(--white);
}

.c-dark {
  color: var(--dark);
}

.c-brown {
  color: var(--brown);
}

.c-translucent-dark {
  color: var(--translucent-dark);
}

.c-translucent-white {
  color: var(--translucent-white);
}

.c-basic {
  color: var(--basic);
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-family: "Neucha, cursive";
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

/* ___________________________________________________header____________________________________________ */
.d-sh1 {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 15%));
}

.container {
  width: 1440px;
  box-sizing: border-box;
  height: 914px;
  position: relative;
}

.h-991 {
  height: 991px;
}

.h-905 {
  height: 905px;
}

.h-937 {
  height: 937px;
}

.h-919 {
  height: 919px;
}

.h-880 {
  height: 880px;
}

.h-auto {
  height: auto;
}

.container-content {
  padding: 100px 165px;
}

.container-bacground::before {
  content: "";
  position: absolute;
  background-image: url("./background.png");
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 20%;
}

.main-image {
  position: absolute;
  height: 525px;
  top: 55px;
  left: 461px;
}

.text {
  margin-bottom: 185px;
}

.ta-left {
  text-align: left;
}

.flex-text {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content-text {
  margin-right: 30px;
}

.content-text:last-child {
  margin-right: 0;
}

.button {
  position: absolute;
  top: 765px;
  left: 735px;
  padding: 12px 24px;
  background-color: var(--basic);
  color: var(--white);
  border: 0 solid var(--basic);
  border-radius: 3px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}

/* _________________________________________video-utub-section__________________________________ */

.section-tittle {
  text-align: center;
}

.ta-center {
  text-align: center;
}

.text-video {
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 30px;
}

iframe {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 15%));
}

.p-relative {
  position: relative;
  z-index: 2;
}

.rectan {
  width: 1440px;
  height: 100px;
  background: var(--basic-dark);
}

.rectangle {
  width: 1440px;
  height: 100px;
  background: var(--basic-dark);
  position: relative;
  bottom: 190px;
  z-index: 1;
}

/* _____________________________five-cognitive___________________________________________________ */

.navigation-card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.card {
  width: 350px;
  height: 323px;
  background: var(--light);
  margin-bottom: 20px;
}

.n-bg {
  background: none;
}

.span-text {
  display: block;
  font-size: 52px;
  font-family: "Neucha, cursive";
  text-align: left;
  line-height: 62.4px;
}

.h-card {
  height: 348px;
}

.card-number {
  font-size: 64px;
  font-family: "Neucha, cursive";
  line-height: 45.5px;
  text-align: left;
  padding-top: 34px;
  padding-left: 24px;
  margin-bottom: 49px;
}

.card-title {
  margin-bottom: 16px;
  padding-left: 24px;
}

.card-text {
  padding: 0 24px;
  text-align: left;
}

.nav-section {
  text-decoration: none;
  color: var(--dark);
}

.nav-section:visited {
  color: var(--dark);
  text-decoration: none;
}

/* _____________________________________________Ikea Effect___________________________________ */

.title-content-section {
  display: flex;
  justify-content: space-between;
}

.image-section {
  width: 578px;
  height: 434px;
  vertical-align: middle;
  margin-right: 30px;
  margin-bottom: 100px;
}

.novixina {
  border-radius: 32px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 15%);
}

.img {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 25%);
  position: relative;
  z-index: 1;
  vertical-align: middle;
}

.side-bar {
  text-align: left;
  font-family: "Neucha, cursive";
}

.title-side-bar {
  font-size: 24px;
  line-height: 28.8px;
}

.header-side-bar {
  margin-bottom: 30px;
}

.text-side-bar {
  font-size: 34px;
  line-height: 40.8px;
}

.header-foter {
  text-align: left;
  font-size: 14px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.text-footer {
  display: flex;
  justify-content: start;
  text-align: left;
  font-weight: 600;
}

.left-side-bar,
.right-side-bar {
  width: 540px;
  height: 125px;
}

.left-side-bar {
  margin-right: 30px;
}

.mar-l-r {
  margin-left: 30px;
  margin-right: 0;
}

/* ___________________________________________________footer_____________________________________ */

.group-input {
  display: flex;
  text-align: left;
  justify-content: space-around;
  width: 1110px;
  height: 190px;
  align-items: center;
}

.title-group-text {
  font-size: 18px;
  margin-bottom: 9px;
}

.submit-email {
  width: 70px;
  background-color: var(--basic);
}

.submit-email::before {
  content: url("./send.svg");
}

.text-bt-input {
  font-size: 12px;
}

.input-email {
  width: 423px;
}

.form-action {
  display: flex;
  align-items: center;
}

.input-email,
.submit-email {
  border: none;
  height: 50px;
  padding: 0;
}

.input-email input {
  padding-left: 10px;
}

.link-rules {
  color: var(--white);
}

.link-rules:visited {
  color: var(--white);
  text-decoration: none;
}

.text-footer-group {
  margin-top: 60px;
  font-size: 14px;
  text-align: center;
}

.one-kurser {
  margin-top: 16px;
}

.two-kurser {
  margin-top: 16px;
}

.one-kurser,
.two-kurser {
  text-decoration: none;
}

.one-kurser,
.two-kurser:visited {
  text-decoration: none;
  color: #1085c5;
}
